<html>
	<head>
		
	</head>
	<body>
		<form action="/expense_edit/{{expense.id}}/" method="POST">
			{% csrf_token %}
			<label>Title</label>
			<input type="text" name="expense_title" placeholder="Title" value="{{expense.title}}">

			<br><br>
			<label>Amount</label>
			<input type="number" name="expense_amount" placeholder="Amount" value="{{expense.amount}}">

			<br><br>
			<label>Description</label>
			<textarea name="expense_description" placeholder="Description">{{expense.description}}</textarea>

			<br><br>
			<button type="submit">Create Expense</button>
		</form>
	</body>
</html>